.feedback {
    min-height: 870px;
    padding: 120px 0 160px 0;
    background-color: #E8E8E8;
    &__title {
        margin-bottom: 60px;
    }
    &__form {
        
        &_row {
            margin-bottom: 30px;
            display: grid;
            grid-template: 50px 50px 200px 50px / repeat(2, 560px);
            row-gap: 30px;
            column-gap: 40px;
        }
        input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            background: $secondary-color; 
            color: $main-color;
            font-size: 16px;
            font-weight: 400; 
            padding: 0px 15px;
        }
        &-mail {
            grid-column: 1 / 3;
        }
        textarea {
            width: 100%;
            height: 100%; 
            margin-bottom: 40px;
            resize: none;
            border-radius: 5px;
            background: $secondary-color; 
            box-shadow: none;   
            padding: 15px 15px;
        }
        &-message {
            grid-column: 1 / 3;
        }
        &-btn {
            grid-column: 2 / 3;
            justify-self: end;
        }
        &_button {
            width: 100px;
            height: 50px; 
            background: $secondary-color;
        }
    }
}