.modulation {
    min-height: 1280px;
    padding: 90px 0 80px 0;
    background: url('../../img/bg/background_body.jpg') center (center/cover) no-repeat;
    &__item {
        border: 2px solid #FFF; 
        background-color: $secondary-color-transperent;
        width: 680px;
        min-height: 1110px; 
        padding: 40px 43px 33px 43px;
        position: relative;
        
    }
    &__title {
        margin-bottom: 40px;
    }
    &__descr {
        margin-bottom: 5px;
        line-height: 34px; 
    }
    &__list {
        margin-left: 40px;
        margin-bottom: 90px;
        &-item {
            color: $main-color;
            font-size: 24px; 
            font-weight: 400;
            line-height: 36px; 
        }
    }
    &__button {
        position: absolute;
        left: 220px;
    }
}